@charset "utf-8";

/* * {
    outline: 1px solid black;
} */
.main h2 {
    text-align: center;
}
.main h3 {
    text-align: center;
}
.main .main-content {
    display: flex;
    justify-content: center;
}
.main .main-content .order-item {
    border: 1px solid black;
    margin: 20px;
    width: 410px;
    height: 500px;


}
.main .main-content .order-item .ordered {
    display: flex;
}
.main .main-content .order-item .ordered .ordered-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.main .main-content .order-item img{
    height: 200px;
    width: 200px;
    margin: 20px;
}
.main .main-content .order-item .item-text {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main .main-content .order-item .item-text label {
    display: inline-block;
    width: 115px;
    margin: 20px 0;
}

.main .main-content .buy-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    width: 410px;
    height: 500px;
}
.main .main-content .buy-choice .buy-method {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .main-content .buy-choice .buy-method input[type="radio"]{
    margin-left: 20px;
}
.main .main-content .buy-choice .buy-offline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    height: 250px;
    width: 80%;
    background-color: var(--main-color-gre);
    text-align: center;
}

.caution {
    margin: 0;
}

.btnbuy {
    border: none;
    border-radius: 10px;
    width: 80%;
    padding: 10px;
    background-color: var(--main-color-yel);
    font-weight: bold;
}