        <!DOCTYPE html>
        <html lang="ko">
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <link rel="stylesheet" href="/common/common.css" />
            <link rel="stylesheet" href="/member/css/order-history.css" />
            <script
            src="https://kit.fontawesome.com/038578f405.js"
            crossorigin="anonymous"
            ></script>

            <title>GREAT 주문내역</title>
        </head>
        <body>
            <div class="wrapper">
            <header class="header container">
                <nav class="top-menu content">
                    <a href="" class="top-menu__join">회원가입</a>
                    <a href="" class="top-menu__login">로그인</a>
                    <a href="" class="top-menu__cs">고객센터</a>
                </nav>
                <div class="logo content"><a href="#">GR<span>EAT</span></a></div>
                <nav class="bottom-menu content">
                    <div class="category">
                        <ul>
                            <li class="region-category"> 지역 선택&nbsp;&nbsp;<i class="fa-solid fa-chevron-down"> </i>
                                <ul>
                                    <li><a href="">남구</a></li>
                                    <li><a href="">중구</a></li>
                                    <li><a href="">북구</a></li>
                                    <li><a href="">동구</a></li>
                                    <li><a href="">울주군</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="search">
                        <input type="text" class="search__search-box" placeholder="검색어를 입력하세요.">
                        <a href="" class="search__search-icon"><i class="fa-solid fa-magnifying-glass"></i></a>
                    </div>
                </nav>
                <!-- top버튼 페이지 오른쪽 하단에 위치함 -->
                <div class="topbtn">
                    <a href="#top"><i class="fa-solid fa-angles-up"></i></a>
                </div>
            </header>
            <!-- //header -->


            <main class="order-history container">
                <aside class="aside-content">
                    <ul>
                        <li class="aside-content-menu">
                            <h3>
                                <a href="myReview.html">내 리뷰</a></li>
                            </h3>
                        <li class="aside-content-menu">
                            <h3>
                                <a href="order-history.html">주문내역</a></li>
                            </h3>
                        <li class="aside-content-menu">
                            <h3>
                                <a href="bookmark.html">즐겨찾기</a></li>
                            </h3>
                        <li class="aside-content-menu">
                            <h3>
                                <a href="good.html">좋아요</a></li>
                            </h3>
                        </ul>
                </aside>
                
                <article class="main-content">
                    <div class="main-head">
                        <div class="main-title">
                            <i class="bar"></i>
                            <h2>주문 내역</h2>
                        </div>
                    </div>
                <table class="order-history--table">
                    <thead>
                    <tr>
                        <th>주문번호</th>
                        <th>주문일시</th>
                        <th>가게명</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>주문액</th>
                        <th>방문 예정 시간</th>
                        <th>결제 유형</th>
                        <th>리뷰</th>
                        <th>주문상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>c15715</td>
                        <td>2022.07.07</td>
                        <td>가게1</td>
                        <td>참치김밥</td>
                        <td>3</td>
                        <td>6,000원</td>
                        <td>17:20</td>
                        <td>온라인 결제</td>
                        <td>
                        <a href="#" class="write">작성하기</a>
                        </td>
                        <td>
                        <a href="#" class="order-status">취소하기</a></td>
                    </tr>
                    <tr>
                        <td>c17156</td>
                        <td>2022.07.01</td>
                        <td>가게1</td>
                        <td>샌드위치</td>
                        <td>1</td>
                        <td>10,000원</td>
                        <td>18:00</td>
                        <td>현장 결제</td>
                        <td>
                        <a href="#" class="write">작성하기</a>
                        </td>
                        <td>
                        <a href="#" class="order-status">취소하기</a></td>
                    </tr>
                    <tr>
                        <td>c16101</td>
                        <td>2022.06.30</td>
                        <td>가게1</td>
                        <td>카스테라</td>
                        <td>2</td>
                        <td>7,000원</td>
                        <td>18:00</td>
                        <td>온라인 결제</td>
                        <td>작성완료</td>
                        <td>구매완료</td>
                    </tr>
                    <tr>
                        <td>c18160</td>
                        <td>2022.06.25</td>
                        <td>가게1</td>
                        <td>수제 햄버거</td>
                        <td>1</td>
                        <td>6,500원</td>
                        <td>17:40</td>
                        <td>현장 결제</td>
                        <td>작성완료</td>
                        <td>구매완료</td>
                    </tr>
                    <tr>
                        <td>c12103</td>
                        <td>2022.06.15</td>
                        <td>가게1</td>
                        <td>땡초김밥</td>
                        <td>2</td>
                        <td>4,000원</td>
                        <td>18:20</td>
                        <td>온라인 결제</td>
                        <td>작성완료</td>
                        <td>구매완료</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="btn-page">
                    <li>
                    <a href="#">이전</a>
                    </li>
                    <li>
                    <a href="#">1</a>
                    </li>
                    <li>
                    <a href="#">2</a>
                    </li>
                    <li>
                    <a href="#">3</a>
                    </li>
                    <li>
                    <a href="#">4</a>
                    </li>
                    <li>
                    <a href="#">5</a>
                    </li>
                    <li>
                    <a href="#">6</a>
                    </li>
                    <li>
                    <a href="#">7</a>
                    </li>
                    <li>
                    <a href="#">8</a>
                    </li>
                    <li>
                    <a href="#">9</a>
                    </li>
                    <li>
                    <a href="#">10</a>
                    </li>
                    <li>
                    <a href="#">다음</a>
                    </li>
                </ul>
                </article>
            </main>
            <footer class="footer container"><p class="content">footer</p></footer>
            </div>

            <script>
                const $write = document.querySelectorAll('.write');
                for (let i = 0; i < $write.length; i++){
                    $write[i].addEventListener('click' ,() => {
                    $write[i].classList.add('review--write');
                    if($write[i].textContent == '작성하기'){
                        const popup = window.open(
                        'review_popup.html',
                        'a',
                        'width=600px,height=700px,left=500,top=50')
                    }else{
                        alert('작성완료된 리뷰입니다.');
                        $write[i].classList.remove('review--write');
                    }             
                    })
                };

                const $status = document.querySelectorAll('.order-status');
                    $status.forEach((ele,idx)=>{
                        $status[idx].addEventListener('click',()=>{
                            
                            if(confirm('취소하시겠습니까?')){
                            $status[idx].textContent = '취소완료'
                            }else{
                            return;
                            }
                        })
                    });
                    
                
                

        
                
            
            </script>
        </body>
        </html>
