    <!DOCTYPE html>
    <html lang="ko"
          xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>GREAT 리뷰작성</title>
        <link rel="stylesheet" href="/css/common/common.css" />
        <link rel="stylesheet" href="/member/css/review_popup.css" />
    </head>
    <body>
        <main class="main-reivew">
        <h1 class="title">리뷰 작성</h1>
        <form class="review" id="reviewForm" method="post" th:object="${form}">
            <fieldset>
            <span class="text-bold">별점을 선택해주세요</span>
            <input type="radio" name="grade" value="5" id="rate5" /><label
                for="rate5"
                >★</label
            >
            <input type="radio" name="grade" value="4" id="rate4" /><label
                for="rate4"
                >★</label
            >
            <input type="radio" name="grade" value="3" id="rate3" /><label
                for="rate3"
                >★</label
            >
            <input type="radio" name="grade" value="2" id="rate2" /><label
                for="rate2"
                >★</label
            >
            <input type="radio" name="grade" value="1" id="rate1" /><label
                for="rate1"
                >★</label
            >
            </fieldset>
            <!-- <textarea
                class="reviewContents"
                type="text"
                placeholder="리뷰를 작성해 주세요~!">
            </textarea> -->
            <textarea name="content" clos="200" row="20">
            </textarea>
            <button id="btn" class="btn btnReview">작성 완료</button>
        
        </form>
        </main>
        <script>
            btn.addEventListener('click',(e)=>{
                e.preventDefault();

                reviewForm.submit();

            });

        </script>
    </body>
    </html>
